.jumbotron {
    padding: 0.5em 0.6em;

    h1 {
        font-size: 2em;

    }

    p {
        font-size: 1.2em;

        .btn {
            padding: 0.5em;
        }
    }

    background-color: rgb(25, 25, 26);
    color: rgb(27, 214, 152);
    font-family:Menlo,
    Cascadia Code,
    SF Mono,
    Consolas,
    MS-DOS;
}

.bg-primary {
    background-color: #14141a !important;
}

#duck {
    width: 50px;
}

.mr-auto {
    margin-right: 0 !important;
}

nav .navbar-collapse {
    flex-grow: 0;

}

.navbar-brand,
.navbar-dark {
    color: rgb(27, 214, 152) !important;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
    justify-content: space-between;
}

.logout,
.btn,
.btn-primary {
    background-color: rgb(18, 174, 122);
    border-width: 0;
    border-radius: 20px;
    font-size: small;
    color: white;
}

body {
    background: rgb(44, 43, 52);

    color: rgb(27, 214, 152);
    font-family: Menlo, Cascadia Code, SF Mono, Consolas, MS-DOS;
}

.row {
    margin-top: 2em;
}

.blackbg,
.bg-light {
    background-color: rgba(0, 0, 0, 0.66) !important;
    padding: 18px;
    border-radius: 50px;
    margin-bottom: 10px;
    border-color: rgb(27, 214, 152);

}

.leaderboard,
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.points {
    color: rgb(110, 170, 255);
    font-weight: bold;

}

.leaderboard-header {

    width: 70%;
    display: flex;
    justify-content: space-between;
}

.leaderboard h3 {
    font-weight: 900;
}

.leaders {
    display: flex;
    width: 80%;
    justify-content: flex-end;

    flex-direction: row;

}

.leaderboard h2 {
    margin-bottom: 20px;
}

.no1 {
    color: rgb(72, 185, 255);
}

.no2 {
    color: rgb(255, 133, 72);
}

.no3 {
    color: rgb(237, 255, 72);
}

.score {
    width: 20px;
    background-color: rgba(0, 0, 0, 0.66);
    margin-left: 10px;
}

.fill1 {
    height: 25px;
    background-color: rgb(0, 182, 219);
    margin-left: 10px;
}

.fill2 {
    height: 25px;
    background-color: rgb(225, 100, 37);
    margin-left: 10px;
}

.fill3 {
    height: 25px;
    background-color: rgb(250, 225, 35);
    margin-left: 10px;
}

.round_edge {
    border-radius: 40px;
    text-align: center;
    height: 50px !important;
}

.alert {
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 50px;
    border-color: rgb(27, 214, 152);
    color: rgb(27, 214, 152);
    text-align: center;
}

.friendscore {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(27, 214, 152, 0.834);
    border-radius: 20px;
    padding: 10px;
    color: black;
}

.friendscore h3 {
    font-weight: bold;
}

.friends {
    display: flex;
    margin-top: 20px;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;

}

.frienddiv {
    background-color: rgba(0, 0, 0, 0.66) !important;
    padding: 18px;
    border-radius: 50px;
    margin-bottom: 10px;
    border-width: 10px;
    border-color: rgb(27, 214, 152);
    padding: 50px;
}

.frienddiv input {
    border-radius: 20px;
}

.frienddiv li,
.frienddiv a {
    color: rgb(27, 214, 152);
    text-decoration: none;
    font-size: large;
}

.frienddiv ul {
    list-style-type: decimal;
}

.center {
    text-align: center;
}

@media (max-width:1000px) {
    .leaders {
        width: 90%;
    }
}




.badges-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card-badge-card {
    background-color: rgba(0, 0, 0, 0.66) !important;
    padding: 18px;
    border-radius: 50px;
    margin-bottom: 10px;
    border-color: rgb(27, 214, 152);
    text-align: center;
    margin-top: 20px;
}

.badge-value {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(110, 170, 255);
    margin-top: 10px;
}

.badge-description {
    margin-top: 10px;
    font-size: 1.1em;
}

.badge-requirement {
    margin-top: 10px;
    font-size: 1em;
    font-style: italic;
}