.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
        
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
    background-color: rgb(0, 0, 0);
    color: rgb(27, 214, 152);
    font-family:Menlo,Cascadia Code,SF Mono,Consolas, MS-DOS;
}
.bg-primary {
    background-color: #1e1c27 !important;
}
#duck{
    width: 50px;
}
.mr-auto{
    margin-right:0 !important;
}
nav .navbar-collapse{
    flex-grow: 0;
}
.navbar-brand,.navbar-dark{
    color:rgb(27, 214, 152) !important;
}
.navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl{
    justify-content: space-between;
}
.logout,.btn,.btn-primary{
    background-color: rgb(18, 174, 122);
    border-width: 0;
    border-radius: 20px;
    font-size: small;
    color:white;
}
body{
    background: rgb(49, 46, 65);
    /* background-image: linear-gradient(180deg,rgba(82, 76, 97, 1), rgba(25, 23, 38, 1)); */
    color:rgb(27, 214, 152);
    font-family:Menlo,Cascadia Code,SF Mono,Consolas, MS-DOS;
}
.row{
    margin-top: 2em;
}
.blackbg{
    background-color: rgba(0, 0, 0, 0.66);
    padding: 20px;
    border-radius: 50px;
    
}
.leaderboard{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.leaderboard-header{

    width: 70%;
    display: flex;
    justify-content: space-between;
}
.leaderboard h3{
    font-weight: 900;
}
.leaders{
    display: flex;
    width: 70%;
    justify-content: flex-end;
    
    flex-direction: row;
    
}
.leaderboard h2{
    margin-bottom: 20px;
}
.no1 {
    color:rgb(72, 185, 255);
    background-color: rgba(0, 0, 0, 0.66);
}
.no2{
    color:rgb(255, 133, 72);
}
.no3{
    color:rgb(237, 255, 72);
}
.score{
    width: 20px;
    background-color: rgba(0, 0, 0, 0.66);
    margin-left: 10px;
}
.fill{
    margin-left: 10px;
    height: 30px;
}