.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
.bg-primary {
    background-color: #2a2732 !important;
}
#duck{
    width: 50px;
}
.mr-auto{
    margin-right:0 !important;
}
nav .navbar-collapse{
    flex-grow: 0;
}
nav{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl{
    justify-content: space-between;
}