{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center mb-4 home">

  <h1 class="badges" id="welcome">Badges</h1>

  {% if badges|length < 1 %} <h2 class="badges">You don't have any badges.</h2>
    {% else %}
    <h2 class="badges">You have {{ badges|length }} badge</h2>
    {% endif %}

    <!-- Collected Badges -->
    <div class="blackbg">
      <div class="badgesboard">
        <h2 class="mt-4">Collected Badges</h2>
        {% if badges %}
        {% for badge in badges %}
        <div class="card-badge-card">
          <img class="badge-img" src="/static/badges/{{ badge.image }}" alt="{{ badge.name }}">
          <h3>{{ badge.name }}</h3>
          <p class="badge-value">Value: {{ badge.value }}</p>
          <p class="badge-description">{{ badge.description }}</p>
        </div>
        {% endfor %}
        {% else %}
        <h4>No Badges Yet!</h4>
        {% endif %}
      </div>
    </div>

    <!-- Badges To Collect -->
    <div class="row justify-content-md-center">
      <div class="blackbg">
        <div class="badgesboard">
          <h3 class="card-title">Badges To Collect</h3>

          {% if unearned_badges %}
          {% for badge in unearned_badges %}
          <div class="card-badge-card">
            <img class="badge-img" src="/static/badges/{{ badge.image }}" alt="{{ badge.name }}">
            <h3>{{ badge.name }}</h3>
            <p class="badge-value">Value: {{ badge.value }}</p>
            <p class="badge-description">{{ badge.description }}</p>
          </div>
          {% endfor %}
          {% else %}
          <h4>You've collected all badges!</h4>
          {% endif %}

        </div>
      </div>
    </div>
    {% endblock %}