{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center mb-4">
  <h1 class="">Welcome, {{username}}!</h1>
</div>
<div class="blackbg">
  <div class="leaderboard">
      <h2 class="mt-4">Leaderboard</h2>
        <!-- <div class="leaderboard-header">
          <h3>User</h3>
          <h3>Score</h3>
        </div> -->
        {% for user in leaderboard %}
        <div
        {% if loop.index == 1 %}
          class="leaders no1"
        {% elif loop.index == 2 %}
          class="leaders no2"
        {% elif loop.index == 3 %}
          class="leaders no3"
        {% endif %}>
          <h4>{{ user.name }}</h4>
          <div class="fill"
                style="width: {{(user.score / leaderboard[0].score) * 100 }}%;
                 {% if loop.index == 1 %}background: rgb(72, 185, 255)
                 {% elif loop.index == 2 %}background: rgb(255, 133, 72);
                 {% elif loop.index == 3 %}background: rgb(237, 255, 72);
                 {% else %}background: #4da6ff;
                 {% endif %}">
        </div>
          <h4 class="score">{{ user.score }}</h4>
  </div>
        {% endfor %}

  </div>
</div>

<div class="row justify-content-md-center">
  

  <div class="col col-lg-8">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title">New Post</h3>
        <form method="post" action="/post">
          <div class="form-group">
            <textarea class="form-control" name="post" rows="3" placeholder="What's on your mind?"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" name="post-submit">Submit</button>
        </form>
      </div>
    </div>

    <h2 class="">My Feed</h2>
    {% for post in posts %}
    <div class="card bg-light">
      <div class="card-body">
        <h4 class="card-title">{{ post.user }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.time|convert_time }}</h6>
        <p class="card-text">{{ post.text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col col-lg-3">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title">Add Friend</h3>
        <form method="post" action="/addfriend">
          <div class="form-group mb-1">
            <input type="text" class="form-control" name="name" placeholder="username" />
          </div>
          <button type="submit" class="form-control btn btn-primary" name="addfriend">Submit</button>
        </form>
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-body">
        <h3 class="card-title">My Friends</h3>
        {% if friends %}
          <ul>
            {% for friend in friends %}
              <li><a href="/friend/{{ friend.username }}">{{ friend.username }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="card-text">
            Sorry, no friends!
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
