{% extends "base.html" %}

{% block content %}
<div class="friends">
    <div class="">
        <div class="frienddiv">
        <div class="card-body">
            <h3 class="card-title">Add Friend</h3>
            <form method="post" action="/addfriend">
            <div class="form-group mb-1">
                <input type="text" class="form-control" name="name" placeholder="username" />
            </div>
            <button type="submit" class="form-control btn btn-primary" name="addfriend">Submit</button>
            </form>
        </div>
        </div>

        <div class="frienddiv">
        <div class="card-body">
            <h3 class="card-title">My Friends</h3>
            {% if friends %}
            <ul>
                {% for friend in friends %}
                <li><a href="/friend/{{ friend.username }}">{{ friend.username }}</a></li>
                {%if 'points' in friend %}
                    {%if(friend['points'] != '' and friend['points'] != 0 )%}
                        <p class="points">Total Score: {{friend.points}}</p>
                    {%else%}
                        <p class="points">Total Score: No points earned yet.</p>
                    {%endif%}
                {%else%}
                    <p class="points">Total Score: No points earned yet.</p>
                {%endif%}

                {% endfor %}
            </ul>
            {% else %}
            <p class="card-text">
                Sorry, no friends!
            </p>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
