name: Run Selenium Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  selenium:
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome:latest
        ports:
          - 4444:4444

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install "urllib3<1.27"
          pip install selenium==3.141.0
          pip install tinydb
          pip install timeago

      - name: Create test database
        run: |
          echo '{"_default": {}, "posts": {"1": {"text": "   ", "time": 1757520083.807036, "user": ""}, "10": {"text": "user9 found Duck1!", "time": 1762293956.9130082, "user": "user9"}, "11": {"badge": "100pts.png", "text": "user11 found Duck1!", "time": 1762296735.812578, "user": "user11"}, "12": {"badge": "100pts.png", "text": "test found Duck1!", "time": 1762376856.1433191, "user": "test"},
           "13": {"badge": "100pts.png", "text": "test found Duck1!", "time": 1762379969.070598, "user": "test"}, "2": {"text": "asdf", "time": 1757520091.906411, "user": ""}, "3": {"text": "hghjvf", "time": 1757521069.4582999, "user": ""}, "4": {"text": "ducks", "time": 1759954815.683868, "user": "user1"}, "5": {"text": "i found a duck", "time": 1760031396.72451, "user": "user2"}, 
           "6": {"text": "user5 found Duck1", "time": 1761322455.150979, "user": "user5"}, "7": {"text": "user7 found Duck2", "time": 1761322659.263384, "user": "user7"}, "8": {"text": "user4 found Duck2!", "time": 1761507194.180108, "user": "user4"}, "9": {"text": "user4 found Duck1!", "time": 1761507290.898643, "user": "user4"}}, "users": {"1": {"friends": [""], "password": "", "username": ""},
            "10": {"badges": ["100 points"], "ducks": ["Duck1"], "friends": [], "password": "9", "points": 100, "username": "user9"}, "11": {"badges": ["100 points"], "ducks": ["Duck1"], "friends": ["user5", "user4", "user2"], "password": "11", "points": 100, "username": "user11"}, "2": {"friends": [], "password": "user1", "username": "user1"}, "3": {"friends": ["user1"], "password": "222", "username": "user2"}, 
            "4": {"badges": [], "ducks": ["Duck2"], "friends": ["user1", "user2", "user4", "user7", "user6", "user8", "user5"], "password": "4", "points": 100, "username": "user4"}, "5": {"badges": ["100 points"], "ducks": ["Duck1", "Duck2"], "friends": ["user4", "user1", "user7", "user2", "user5"], "password": "5", "points": 200, "username": "user5"}, "6": {"badges": [], "ducks": ["Duck1"], "friends": [], "password": "6", "points": 100, "username": "user6"}, 
            "7": {"badges": ["100 points"], "ducks": [], "friends": [], "password": "test", "points": 0, "username": "test"}, "8": {"badges": [], "ducks": ["Duck1", "Duck2"], "friends": ["user5"], "password": "7", "points": 200, "username": "user7"}, "9": {"badges": [], "ducks": [], "friends": ["user2"], "password": "8", "points": 0, "username": "user8"}}}' > db.json
      - name: Start Flask app in background
        run: |
          nohup python youface.py > flask.log 2>&1 &
          sleep 15
      - name: Wait for Flask to be ready
        run: |
          echo "Waiting for Flask to start..."
          for i in {1..20}; do
            if curl -s http://localhost:5005/loginscreen > /dev/null; then
              echo "Flask is ready!"
              break
            fi
            echo "Still waiting... ($i)"
            sleep 2
          done
          echo "--- Flask log ---"
          tail -n 20 flask.log
          

      - name: Run Selenium tests
        env:
          SELENIUM_REMOTE_URL: http://localhost:4444/wd/hub
          FLASK_RUN_HOST: 0.0.0.0
        run: |
          python selenium_example.py
          python selenium_codes.py
          python anthonysel.py
