name: Run Selenium Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  selenium:
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome:latest
        ports:
          - 4444:4444

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install "urllib3<1.27"
          pip install selenium==3.141.0
          pip install tinydb

      - name: Start Flask app in background
        run: |
          nohup python youface.py > flask.log 2>&1 &
          sleep 10

      - name: Run Selenium tests
        env:
          SELENIUM_REMOTE_URL: http://localhost:4444/wd/hub
          FLASK_RUN_HOST: 0.0.0.0
        run: |
          python selenium_codes.py
          python anthonysel.py
